<div class="col-lg-2 col-6 marg_bot1">
    <div class="teaser_holder text-center">
        <a href="/user/{{ stream.channel }}/live">
            <img class="img-fluid mb-1" style="width: auto; padding: 5px; height: 141px"
                 src="https://live-pro.3speak.co/thumbnail.png?name={{stream.channel}}&size=640x480">
        </a>
    </div>
    <p>

        <span class="black_col">
                    <b class="float-right">
                        <a href="/user/{{ stream.channel }}">{{ stream.channel }}</a>
                    </b>
                </span>
    </p>
    <a href="/user/{{ stream.channel }}/live">
        <h5>{{ stream.title|striptags }}</h5>
    </a>
</div>
