{% extends './layout.twig' %}

{% block meta %}
    <meta property="og:title" content="{{ channel.username }} Channel - 3speak.co">
    <meta property="og:description" content="Watch the latest videos of {{ channel.username }}">
    <meta property="og:image" content="{{ channel.username|avatar }}">
    <meta property="og:url" content="https://{{ APP_PAGE_DOMAIN }}/user/{{ channel.username }}">
    <meta property="og:site_name" content="3Speak">
{% endblock %}

{% block style %}
    <style>
        .sidebar-toggled .single-channel-page {
            padding: 0px 0px 0px 90px;
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
        }
    </style>
{% endblock %}

{% block header %}
    {% include 'new/channel_header.twig' with active_menu %}
{% endblock %}

{% block body %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="video-block section-padding">
                <div class="row">

                    {% for video in videos %}
                      {% if video.type == 'video' %}
                        {% include './widgets/bigVideoCard.twig' with video %}
                      {% endif %}
                      {% if video.type == 'podcast' %}
                        {% include './widgets/bigPodcastCard.twig' with video %}
                      {% endif %}
                    {% endfor %}

                    {% if videos|length == 0 %}
                        <p class="alert alert-info w-100">
                            {{ channel.username }} has not published any videos yet. Come back later.
                        </p>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="text-center mb-1 mt-1">
                            <!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
                            <!-- 3speak-top-lg -->
                            <!--<ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-2784600041331572"
                                 data-ad-slot="6776429328"
                                 data-ad-format="auto"
                                 data-full-width-responsive="true"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>-->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>

{% endblock %}
